*, *:after, *:before {
	box-sizing: border-box!important;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Ubuntu
}

#wrapper {
	margin: 0 auto;
	padding: 1rem;
	max-width: 768px;
}

#header {
	border-top: 5px #2b2b2b solid
}
